[submodule "submodules/rpi-rgb-led-matrix"]
	path = submodules/rpi-rgb-led-matrix
	url = https://github.com/hzeller/rpi-rgb-led-matrix
[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json
[submodule "submodules/cpr"]
	path = submodules/cpr
	url = https://github.com/whoshuu/cpr
[submodule "submodules/toml11"]
	path = submodules/toml11
	url = https://github.com/ToruNiina/toml11
